@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("redandblack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(20px);
    z-index: -1;
  }

header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    transition: 0.5s ease;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    color: #ce6c6c;
    border-bottom: 3px solid #b74b4b;
}

nav a.active{
    color: #804444;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position:absolute;
        display: none;
        top: 0;
        left: 0%;
        width: 40%;
        border-right: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-right-radius: 2rem;
        padding: 1rem solid;
        background-color: #973838;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav .active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:trans;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 20vw;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid #b74b4b;
    border-radius: 50%;
    font-size: 2rem;
    color: #b74b4b;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "";
    color: #b74b4b;
    animation: words 25s infinite;
  }
  
  @keyframes words{
    0%, 20%{
      content: "Programmer";
      opacity: 1;
    }
    20%, 25%{
      content: "";
      opacity: 0;
    }
    25%, 35%{
      content: "Software Engineer";
      opacity: 1;
    }
    35%, 40%{
      content: "";
      opacity: 0;
    }
    40%, 55%{
      content: "Designer";
      opacity: 1;
    }
    55%, 60%{
      content: "";
      opacity: 0;
    }
    60%, 75%{
      content: "Web Developer";
      opacity: 1;
    }
    75%, 80%{
      content: "";
      opacity: 0;
    }
    80%, 95%{
      content: "Editor";
      opacity: 1;
    }
    95%, 100%{
      opacity: 0;
    }
  }
@keyframes fade{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    
    .home .home-content h3{
        font-size:2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }
    
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card{
    width: 20rem;
    height: 24rem;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 12rem;
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 1;
}

.top i{
    font-size: 6rem;
    color: #973838;
}

.card:hover .top{
    transform: translateY(-100%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 10px;
}

.bottom{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 12rem;
    background: #973838;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 1rem;
    flex-direction: column;
}

.bottom h1{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
}

.card.hover .bottom{
    transform: translateY(0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}



